# Django Secret
DJANGO_SECRET_KEY=...

# Generate One Time Url Secret <>
TOKEN_SIGNING_KEY=...


# development = True, production=False
DEBUG=...

# APP_BASE_URL
# APP_BASE_URL=http://localhost
APP_BASE_URL=...

# FRONTEND_URL
# FRONTEND_URL=http://localhost
FRONTEND_URL=...


# DJANGO ALLOW HOST
# ALLOWED_HOSTS=127.0.0.1,.ngrok-free.app,localhost,172.20.0.1,192.168.110.13,web

ALLOWED_HOSTS=<allow host ip >

# host email or password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email-address
EMAIL_HOST_PASSWORD=your-passwd


# POSTGRESQL
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...
DB_HOST=...
DB_PORT=5432



# RABBITMQ / CELERY
CELERY_BROKER_URL=amqp://<username>:<password>@rabbitmq:5672/<vhost>

RABBITMQ_USER=...
RABBITMQ_PASS=...
RABBITMQ_VHOST=...


# GRAFANA 
# GRAFANA_ROOT_URL=http://grafana.local/
GRAFANA_ROOT_URL=http://<subdomain>.<domain>/
GRAFANA_ADMIN_USER=...
GRAFANA_ADMIN_PASSWORD=...


# stripe public and secret key
# NOTE: sentry webhook secret r env ar moddhe same secrate key thakte hobe
STRIPE_SECRET_KEY=...
STRIPE_WEBHOOK_SECRET=...


# sentry dsn
SENTRY_DSN=...
# NOTE: jodi error alert dorker hoy tahole sentry secrate add korte hobe , tobe env==sentry_wev_hook secrate same hote hobe
SENTRY_CLIENT_SECRET=...



# Telegram Token And ID
# NOTE: jodi domain name thake tahole telegram bot ar moddhe sentry message korte parbe
TELEGRAM_BOT_TOKEN=...
TELEGRAM_CHAT_ID=...

# Nginx AUTH TOKEN 
NGROK_AUTHTOKEN=...
